<template>
    <div class="content">
        <h2>Current Weather</h2>
        <hr>
        <p >{{this.ciutat}}</p>
        <p>{{this.ciutatActual.weather[0].description}}</p>
        <p>{{this.ciutatActual.main.temp}}º</p>
        <p>{{this.ciutatActual.main.humidity}}%</p>
    </div>
</template>

<script>

    export default {
        name: "current-weather",

        props: {
            ciutat: String
        },



        data(){
            return{
                ciutatActual:
                    {
                        "coord": {"lon":145.77, "lat":-16.92},
                        "weather":[{"id":803,"main":"Clouds","description":"broken clouds","icon":"04n"}],
                        "base":"cmc stations",
                        "main":{"temp":293.25,"pressure":1019,"humidity":83,"temp_min":289.82,"temp_max":295.37},
                        "wind":{"speed":5.1,"deg":150},
                        "clouds":{"all":75},
                        "rain":{"3h":3},
                        "dt":1435658272,
                        "sys":{"type":1,"id":8166,"message":0.0166,"country":"AU","sunrise":1435610796,"sunset":1435650870},
                        "id":2172797,
                        "cod":200,
                        "name":"Cairns"
                    },
            }
        },

        methods: {
            getTempsActual: async function () {


                var url = 'https://api.openweathermap.org/data/2.5/weather?q=' + this.ciutat + '&units=metric&lang=ca&appid=644da4f2a1231c6611d2e2d8abb1fc90';

                try {
                    var response = await fetch(url);
                    var data = await response.json();

                    this.ciutatActual = data;

                } catch (err) {
                    this.console.log(err);
                }
            }
        },
        beforeMount(){
            this.getTempsActual()
        },
        watch : {
            ciutat: function () {
                this.getTempsActual()
            }
        }


    }

</script>

<style scoped>
    @import url("https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.css");

    div{
        background-color: cornflowerblue;
        border-radius: 25px;
        margin-right: 16px;
        box-shadow: 8px 8px 6px rgb(55, 57, 61);
        margin-bottom: 12px;

    }

    p{
        color: white;
    }

</style>