<template>
    <div class="content">
        <h2>Forecast</h2>
        <hr>
        <p >{{this.ciutat}}</p>


        <div class="taula">
            <table class="table is-fullwidth">
                <tbody>
                   <tr>
                       <td>
                           <img v-bind:src="img1dia" alt="">
                       </td>
                       <td>
                           <img v-bind:src="img2dia" alt="">
                       </td>
                       <td>
                            <img v-bind:src="img3dia" alt="">
                       </td>
                       <td>
                            <img v-bind:src="img4dia" alt="">
                       </td>
                       <td>
                            <img v-bind:src="img5dia" alt="">
                       </td>
                   </tr>
                   <tr>
                       <td>{{this.previsio.list[0].main.temp}}º</td>
                       <td>{{this.previsio.list[7].main.temp}}º</td>
                       <td>{{this.previsio.list[15].main.temp}}º</td>
                       <td>{{this.previsio.list[23].main.temp}}º</td>
                       <td>{{this.previsio.list[31].main.temp}}º</td>
                   </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>1 dia</td>
                        <td>2 dies</td>
                        <td>3 dies</td>
                        <td>4 dies</td>
                        <td>5 dies</td>
                    </tr>
                </tfoot>
            </table>
            <br>
        </div>





    </div>
</template>

<script>
    export default {
        name: "forecast",

        props: {
            ciutat: String
        },

        data(){
            return {
                previsio: {"cod":"200","message":0.0054,"cnt":40,"list":[{"dt":1551128400,"main":{"temp":10.37,"temp_min":10.37,"temp_max":10.57,"pressure":1032.85,"sea_level":1032.85,"grnd_level":1024.27,"humidity":100,"temp_kf":-0.2},"weather":[{"id":800,"main":"Clear","description":"cel net","icon":"01n"}],"clouds":{"all":0},"wind":{"speed":2.26,"deg":289.5},"sys":{"pod":"n"},"dt_txt":"2019-02-25 21:00:00"},{"dt":1551139200,"main":{"temp":10.23,"temp_min":10.23,"temp_max":10.39,"pressure":1032.1,"sea_level":1032.1,"grnd_level":1023.33,"humidity":100,"temp_kf":-0.15},"weather":[{"id":800,"main":"Clear","description":"cel net","icon":"01n"}],"clouds":{"all":0},"wind":{"speed":1.82,"deg":295.502},"sys":{"pod":"n"},"dt_txt":"2019-02-26 00:00:00"},{"dt":1551150000,"main":{"temp":9.92,"temp_min":9.92,"temp_max":10.02,"pressure":1031.42,"sea_level":1031.42,"grnd_level":1022.83,"humidity":100,"temp_kf":-0.1},"weather":[{"id":800,"main":"Clear","description":"cel net","icon":"01n"}],"clouds":{"all":0},"wind":{"speed":0.96,"deg":35.0002},"sys":{"pod":"n"},"dt_txt":"2019-02-26 03:00:00"},{"dt":1551160800,"main":{"temp":9.71,"temp_min":9.71,"temp_max":9.76,"pressure":1031.56,"sea_level":1031.56,"grnd_level":1022.98,"humidity":100,"temp_kf":-0.05},"weather":[{"id":800,"main":"Clear","description":"cel net","icon":"01n"}],"clouds":{"all":0},"wind":{"speed":1.96,"deg":17.001},"sys":{"pod":"n"},"dt_txt":"2019-02-26 06:00:00"},{"dt":1551171600,"main":{"temp":13.47,"temp_min":13.47,"temp_max":13.47,"pressure":1031.93,"sea_level":1031.93,"grnd_level":1023.26,"humidity":91,"temp_kf":0},"weather":[{"id":800,"main":"Clear","description":"cel net","icon":"01d"}],"clouds":{"all":0},"wind":{"speed":3.01,"deg":355.003},"sys":{"pod":"d"},"dt_txt":"2019-02-26 09:00:00"},{"dt":1551182400,"main":{"temp":15.19,"temp_min":15.19,"temp_max":15.19,"pressure":1031.75,"sea_level":1031.75,"grnd_level":1023.38,"humidity":84,"temp_kf":0},"weather":[{"id":800,"main":"Clear","description":"cel net","icon":"01d"}],"clouds":{"all":0},"wind":{"speed":1.4,"deg":108.004},"sys":{"pod":"d"},"dt_txt":"2019-02-26 12:00:00"},{"dt":1551193200,"main":{"temp":14.47,"temp_min":14.47,"temp_max":14.47,"pressure":1030.7,"sea_level":1030.7,"grnd_level":1022.4,"humidity":88,"temp_kf":0},"weather":[{"id":800,"main":"Clear","description":"cel net","icon":"01d"}],"clouds":{"all":0},"wind":{"speed":3.26,"deg":152.001},"sys":{"pod":"d"},"dt_txt":"2019-02-26 15:00:00"},{"dt":1551204000,"main":{"temp":12.66,"temp_min":12.66,"temp_max":12.66,"pressure":1030.45,"sea_level":1030.45,"grnd_level":1022.04,"humidity":97,"temp_kf":0},"weather":[{"id":800,"main":"Clear","description":"cel net","icon":"01n"}],"clouds":{"all":0},"wind":{"speed":2.76,"deg":205.501},"sys":{"pod":"n"},"dt_txt":"2019-02-26 18:00:00"},{"dt":1551214800,"main":{"temp":10.89,"temp_min":10.89,"temp_max":10.89,"pressure":1030.39,"sea_level":1030.39,"grnd_level":1021.77,"humidity":100,"temp_kf":0},"weather":[{"id":800,"main":"Clear","description":"cel net","icon":"01n"}],"clouds":{"all":0},"wind":{"speed":4.17,"deg":241.502},"sys":{"pod":"n"},"dt_txt":"2019-02-26 21:00:00"},{"dt":1551225600,"main":{"temp":10.32,"temp_min":10.32,"temp_max":10.32,"pressure":1029.73,"sea_level":1029.73,"grnd_level":1021.1,"humidity":100,"temp_kf":0},"weather":[{"id":800,"main":"Clear","description":"cel net","icon":"01n"}],"clouds":{"all":0},"wind":{"speed":4.62,"deg":251.001},"sys":{"pod":"n"},"dt_txt":"2019-02-27 00:00:00"},{"dt":1551236400,"main":{"temp":10.04,"temp_min":10.04,"temp_max":10.04,"pressure":1028.21,"sea_level":1028.21,"grnd_level":1019.44,"humidity":100,"temp_kf":0},"weather":[{"id":800,"main":"Clear","description":"cel net","icon":"01n"}],"clouds":{"all":0},"wind":{"speed":5.17,"deg":245},"sys":{"pod":"n"},"dt_txt":"2019-02-27 03:00:00"},{"dt":1551247200,"main":{"temp":9.7,"temp_min":9.7,"temp_max":9.7,"pressure":1027.46,"sea_level":1027.46,"grnd_level":1018.78,"humidity":100,"temp_kf":0},"weather":[{"id":800,"main":"Clear","description":"cel net","icon":"01n"}],"clouds":{"all":0},"wind":{"speed":5.52,"deg":243.502},"sys":{"pod":"n"},"dt_txt":"2019-02-27 06:00:00"},{"dt":1551258000,"main":{"temp":12.75,"temp_min":12.75,"temp_max":12.75,"pressure":1027.85,"sea_level":1027.85,"grnd_level":1019.33,"humidity":95,"temp_kf":0},"weather":[{"id":800,"main":"Clear","description":"cel net","icon":"01d"}],"clouds":{"all":0},"wind":{"speed":4.66,"deg":249.501},"sys":{"pod":"d"},"dt_txt":"2019-02-27 09:00:00"},{"dt":1551268800,"main":{"temp":15.34,"temp_min":15.34,"temp_max":15.34,"pressure":1027.26,"sea_level":1027.26,"grnd_level":1018.89,"humidity":83,"temp_kf":0},"weather":[{"id":800,"main":"Clear","description":"cel net","icon":"01d"}],"clouds":{"all":0},"wind":{"speed":4.75,"deg":227.001},"sys":{"pod":"d"},"dt_txt":"2019-02-27 12:00:00"},{"dt":1551279600,"main":{"temp":15.39,"temp_min":15.39,"temp_max":15.39,"pressure":1026.08,"sea_level":1026.08,"grnd_level":1017.79,"humidity":83,"temp_kf":0},"weather":[{"id":800,"main":"Clear","description":"cel net","icon":"01d"}],"clouds":{"all":0},"wind":{"speed":5.56,"deg":217},"sys":{"pod":"d"},"dt_txt":"2019-02-27 15:00:00"},{"dt":1551290400,"main":{"temp":13.36,"temp_min":13.36,"temp_max":13.36,"pressure":1026.54,"sea_level":1026.54,"grnd_level":1018.12,"humidity":94,"temp_kf":0},"weather":[{"id":800,"main":"Clear","description":"cel net","icon":"01n"}],"clouds":{"all":0},"wind":{"speed":4.64,"deg":228.003},"sys":{"pod":"n"},"dt_txt":"2019-02-27 18:00:00"},{"dt":1551301200,"main":{"temp":11.3,"temp_min":11.3,"temp_max":11.3,"pressure":1027.04,"sea_level":1027.04,"grnd_level":1018.5,"humidity":100,"temp_kf":0},"weather":[{"id":800,"main":"Clear","description":"cel net","icon":"01n"}],"clouds":{"all":0},"wind":{"speed":4.31,"deg":240.006},"sys":{"pod":"n"},"dt_txt":"2019-02-27 21:00:00"},{"dt":1551312000,"main":{"temp":10.71,"temp_min":10.71,"temp_max":10.71,"pressure":1026.89,"sea_level":1026.89,"grnd_level":1018.34,"humidity":100,"temp_kf":0},"weather":[{"id":800,"main":"Clear","description":"cel net","icon":"01n"}],"clouds":{"all":0},"wind":{"speed":3.81,"deg":250.501},"sys":{"pod":"n"},"dt_txt":"2019-02-28 00:00:00"},{"dt":1551322800,"main":{"temp":10.13,"temp_min":10.13,"temp_max":10.13,"pressure":1026.4,"sea_level":1026.4,"grnd_level":1017.76,"humidity":100,"temp_kf":0},"weather":[{"id":800,"main":"Clear","description":"cel net","icon":"01n"}],"clouds":{"all":0},"wind":{"speed":4.45,"deg":245.502},"sys":{"pod":"n"},"dt_txt":"2019-02-28 03:00:00"},{"dt":1551333600,"main":{"temp":9.61,"temp_min":9.61,"temp_max":9.61,"pressure":1026.08,"sea_level":1026.08,"grnd_level":1017.42,"humidity":100,"temp_kf":0},"weather":[{"id":800,"main":"Clear","description":"cel net","icon":"01n"}],"clouds":{"all":0},"wind":{"speed":4.92,"deg":252.004},"sys":{"pod":"n"},"dt_txt":"2019-02-28 06:00:00"},{"dt":1551344400,"main":{"temp":12.67,"temp_min":12.67,"temp_max":12.67,"pressure":1026.07,"sea_level":1026.07,"grnd_level":1017.55,"humidity":98,"temp_kf":0},"weather":[{"id":800,"main":"Clear","description":"cel net","icon":"01d"}],"clouds":{"all":0},"wind":{"speed":5.27,"deg":251.001},"sys":{"pod":"d"},"dt_txt":"2019-02-28 09:00:00"},{"dt":1551355200,"main":{"temp":15.4,"temp_min":15.4,"temp_max":15.4,"pressure":1025.07,"sea_level":1025.07,"grnd_level":1016.68,"humidity":83,"temp_kf":0},"weather":[{"id":800,"main":"Clear","description":"cel net","icon":"01d"}],"clouds":{"all":0},"wind":{"speed":6.03,"deg":233},"sys":{"pod":"d"},"dt_txt":"2019-02-28 12:00:00"},{"dt":1551366000,"main":{"temp":15.46,"temp_min":15.46,"temp_max":15.46,"pressure":1023.12,"sea_level":1023.12,"grnd_level":1014.62,"humidity":81,"temp_kf":0},"weather":[{"id":800,"main":"Clear","description":"cel net","icon":"01d"}],"clouds":{"all":0},"wind":{"speed":7.36,"deg":226.002},"sys":{"pod":"d"},"dt_txt":"2019-02-28 15:00:00"},{"dt":1551376800,"main":{"temp":13.61,"temp_min":13.61,"temp_max":13.61,"pressure":1022.58,"sea_level":1022.58,"grnd_level":1014.07,"humidity":92,"temp_kf":0},"weather":[{"id":800,"main":"Clear","description":"cel net","icon":"01n"}],"clouds":{"all":0},"wind":{"speed":7.16,"deg":234.5},"sys":{"pod":"n"},"dt_txt":"2019-02-28 18:00:00"},{"dt":1551387600,"main":{"temp":11.69,"temp_min":11.69,"temp_max":11.69,"pressure":1022.55,"sea_level":1022.55,"grnd_level":1014,"humidity":100,"temp_kf":0},"weather":[{"id":800,"main":"Clear","description":"cel net","icon":"01n"}],"clouds":{"all":0},"wind":{"speed":6.67,"deg":244.5},"sys":{"pod":"n"},"dt_txt":"2019-02-28 21:00:00"},{"dt":1551398400,"main":{"temp":11.14,"temp_min":11.14,"temp_max":11.14,"pressure":1021.57,"sea_level":1021.57,"grnd_level":1012.9,"humidity":100,"temp_kf":0},"weather":[{"id":800,"main":"Clear","description":"cel net","icon":"01n"}],"clouds":{"all":0},"wind":{"speed":5.81,"deg":250.001},"sys":{"pod":"n"},"dt_txt":"2019-03-01 00:00:00"},{"dt":1551409200,"main":{"temp":10.96,"temp_min":10.96,"temp_max":10.96,"pressure":1020.1,"sea_level":1020.1,"grnd_level":1011.39,"humidity":100,"temp_kf":0},"weather":[{"id":800,"main":"Clear","description":"cel net","icon":"01n"}],"clouds":{"all":0},"wind":{"speed":4.77,"deg":249.501},"sys":{"pod":"n"},"dt_txt":"2019-03-01 03:00:00"},{"dt":1551420000,"main":{"temp":10.7,"temp_min":10.7,"temp_max":10.7,"pressure":1019.47,"sea_level":1019.47,"grnd_level":1010.84,"humidity":100,"temp_kf":0},"weather":[{"id":800,"main":"Clear","description":"cel net","icon":"01n"}],"clouds":{"all":0},"wind":{"speed":3.21,"deg":259.003},"sys":{"pod":"n"},"dt_txt":"2019-03-01 06:00:00"},{"dt":1551430800,"main":{"temp":13.25,"temp_min":13.25,"temp_max":13.25,"pressure":1019.7,"sea_level":1019.7,"grnd_level":1011.15,"humidity":93,"temp_kf":0},"weather":[{"id":800,"main":"Clear","description":"cel net","icon":"01d"}],"clouds":{"all":0},"wind":{"speed":1.68,"deg":324.502},"sys":{"pod":"d"},"dt_txt":"2019-03-01 09:00:00"},{"dt":1551441600,"main":{"temp":15.25,"temp_min":15.25,"temp_max":15.25,"pressure":1018.76,"sea_level":1018.76,"grnd_level":1010.45,"humidity":83,"temp_kf":0},"weather":[{"id":800,"main":"Clear","description":"cel net","icon":"01d"}],"clouds":{"all":0},"wind":{"speed":1.18,"deg":62.5014},"sys":{"pod":"d"},"dt_txt":"2019-03-01 12:00:00"},{"dt":1551452400,"main":{"temp":14.79,"temp_min":14.79,"temp_max":14.79,"pressure":1017.15,"sea_level":1017.15,"grnd_level":1008.89,"humidity":87,"temp_kf":0},"weather":[{"id":800,"main":"Clear","description":"cel net","icon":"01d"}],"clouds":{"all":0},"wind":{"speed":2.12,"deg":105.001},"sys":{"pod":"d"},"dt_txt":"2019-03-01 15:00:00"},{"dt":1551463200,"main":{"temp":13.01,"temp_min":13.01,"temp_max":13.01,"pressure":1017.39,"sea_level":1017.39,"grnd_level":1009.21,"humidity":98,"temp_kf":0},"weather":[{"id":802,"main":"Clouds","description":"núvols dispersos","icon":"03n"}],"clouds":{"all":32},"wind":{"speed":2.01,"deg":73.5076},"sys":{"pod":"n"},"dt_txt":"2019-03-01 18:00:00"},{"dt":1551474000,"main":{"temp":11.03,"temp_min":11.03,"temp_max":11.03,"pressure":1018.44,"sea_level":1018.44,"grnd_level":1009.99,"humidity":100,"temp_kf":0},"weather":[{"id":500,"main":"Rain","description":"pluja suau","icon":"10n"}],"clouds":{"all":20},"wind":{"speed":1.07,"deg":28.0038},"rain":{"3h":0.02},"sys":{"pod":"n"},"dt_txt":"2019-03-01 21:00:00"},{"dt":1551484800,"main":{"temp":11.09,"temp_min":11.09,"temp_max":11.09,"pressure":1018.19,"sea_level":1018.19,"grnd_level":1009.72,"humidity":100,"temp_kf":0},"weather":[{"id":800,"main":"Clear","description":"cel net","icon":"01n"}],"clouds":{"all":0},"wind":{"speed":2.31,"deg":5.00061},"rain":{},"sys":{"pod":"n"},"dt_txt":"2019-03-02 00:00:00"},{"dt":1551495600,"main":{"temp":11.3,"temp_min":11.3,"temp_max":11.3,"pressure":1017.37,"sea_level":1017.37,"grnd_level":1008.79,"humidity":100,"temp_kf":0},"weather":[{"id":800,"main":"Clear","description":"cel net","icon":"01n"}],"clouds":{"all":0},"wind":{"speed":2.31,"deg":32.0014},"rain":{},"sys":{"pod":"n"},"dt_txt":"2019-03-02 03:00:00"},{"dt":1551506400,"main":{"temp":10.46,"temp_min":10.46,"temp_max":10.46,"pressure":1017.47,"sea_level":1017.47,"grnd_level":1009.05,"humidity":100,"temp_kf":0},"weather":[{"id":800,"main":"Clear","description":"cel net","icon":"01n"}],"clouds":{"all":0},"wind":{"speed":3.21,"deg":26.5018},"rain":{},"sys":{"pod":"n"},"dt_txt":"2019-03-02 06:00:00"},{"dt":1551517200,"main":{"temp":13.16,"temp_min":13.16,"temp_max":13.16,"pressure":1018.32,"sea_level":1018.32,"grnd_level":1009.85,"humidity":92,"temp_kf":0},"weather":[{"id":800,"main":"Clear","description":"cel net","icon":"01d"}],"clouds":{"all":0},"wind":{"speed":2.95,"deg":16.0001},"rain":{},"sys":{"pod":"d"},"dt_txt":"2019-03-02 09:00:00"},{"dt":1551528000,"main":{"temp":14.78,"temp_min":14.78,"temp_max":14.78,"pressure":1018.68,"sea_level":1018.68,"grnd_level":1010.49,"humidity":88,"temp_kf":0},"weather":[{"id":800,"main":"Clear","description":"cel net","icon":"01d"}],"clouds":{"all":0},"wind":{"speed":2.42,"deg":76.5033},"rain":{},"sys":{"pod":"d"},"dt_txt":"2019-03-02 12:00:00"},{"dt":1551538800,"main":{"temp":14.31,"temp_min":14.31,"temp_max":14.31,"pressure":1017.92,"sea_level":1017.92,"grnd_level":1009.71,"humidity":90,"temp_kf":0},"weather":[{"id":801,"main":"Clouds","description":"lleugerament ennuvolat","icon":"02d"}],"clouds":{"all":12},"wind":{"speed":3.03,"deg":116.002},"rain":{},"sys":{"pod":"d"},"dt_txt":"2019-03-02 15:00:00"},{"dt":1551549600,"main":{"temp":13.06,"temp_min":13.06,"temp_max":13.06,"pressure":1018.68,"sea_level":1018.68,"grnd_level":1010.45,"humidity":98,"temp_kf":0},"weather":[{"id":803,"main":"Clouds","description":"nuvolositat variable","icon":"04n"}],"clouds":{"all":64},"wind":{"speed":1.69,"deg":117.501},"rain":{},"sys":{"pod":"n"},"dt_txt":"2019-03-02 18:00:00"}],"city":{"id":3128760,"name":"Barcelona","coord":{"lat":41.3829,"lon":2.1774},"country":"ES","population":1621537}},
                img1dia: "http://openweathermap.org/img/w/10d.png",
                img2dia: "http://openweathermap.org/img/w/10d.png",
                img3dia: "http://openweathermap.org/img/w/10d.png",
                img4dia: "http://openweathermap.org/img/w/10d.png",
                img5dia: "http://openweathermap.org/img/w/10d.png",



            }
        },

        methods: {
            getForecast: async function() {

                var url = 'https://api.openweathermap.org/data/2.5/forecast?q=' + this.ciutat + '&units=metric&lang=ca&appid=644da4f2a1231c6611d2e2d8abb1fc90';

                try {
                    var response = await fetch(url);
                    var data = await response.json();

                    this.previsio = data;

                    this.img1dia = this.getURLimg(this.previsio.list[0].weather[0].icon);
                    this.img2dia = this.getURLimg(this.previsio.list[7].weather[0].icon);
                    this.img3dia = this.getURLimg(this.previsio.list[15].weather[0].icon);
                    this.img4dia = this.getURLimg(this.previsio.list[23].weather[0].icon);
                    this.img5dia = this.getURLimg(this.previsio.list[31].weather[0].icon);


                } catch (err) {
                    this.console.log(err);
                }
            },
            getURLimg: function(icon) {
                return "http://openweathermap.org/img/w/" + icon + ".png"
            }
        },
        beforeMount(){
            this.getForecast()
        },
        watch :{
            ciutat : function () {
                this.getForecast()
            }
        }
    }


</script>

<style scoped>

    div.content{
        background-color: yellow;
        border-radius: 25px;
        margin-right: 16px;
        box-shadow: 8px 8px 20px rgb(55, 57, 61);

    }

     tr, table {
        border-collapse: collapse;

    }

    table {
        background-color: yellow;
    }

    .taula {
        overflow-x: auto;
        background-color: yellow;
    }

</style>