<template>

    <div class="main columns">
        <div class="seleccio column is-one-quarter">
            <br>

            <div class="control has-icons-left">
                <label for="ciutatSeleccionada">Seleccionar ciutat: </label>
            <div class="select is-info">
            <select v-model="ciutatActual" name="" id="ciutatSeleccionada">
                <option value="" disabled selected>Selecciona una ciutat</option>
                <option v-bind:key="ciutat" v-for="ciutat in llistaCiutats">{{ciutat}}</option>
            </select>
            </div>
            <span class="icon is-medium is-left">
                <i class="fas fa-globe"></i>
            </span>
        </div>
        </div>

        <div class="components column">
            <current-weather v-bind:ciutat="ciutatActual" />
            <forecast v-bind:ciutat="ciutatActual" />
        </div>
        <br>
    </div>
    
</template>

<script>

    import CurrentWeather from './current-weather.vue'
    import Forecast from './forecast.vue'

    export default {
        name: "info-meteorologica",


        props: ['llistaCiutats'],

        components: {
            CurrentWeather,
            Forecast
        },

        data(){
            return{
                ciutatActual: "",



            }
        },
        beforeMount(){
            this.llista = this.llistaCiutats
        }
    }
</script>

<style scoped>
    @import url("https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.css");
    @import url("https://use.fontawesome.com/releases/v5.7.2/css/all.css");


    div.main{
        background-color: lightgray;
        border: 5px;
        border-radius: 10px;
        margin: 10px;
        box-shadow: 8px 8px 12px rgb(65, 67, 71);
    }

    label {
    }

</style>