<template>

  <div id="app">
    <!--<img alt="Vue logo" src="./assets/logo.png">-->
    <!--<HelloWorld msg="Welcome to Your Vue.js App"/>-->
    <h1 class="continent">Europa</h1>
    <infoMeterologica v-bind:llistaCiutats="ciutatsEuropa"/>
    <hr>
    <h1 class="continent">Asia</h1>
    <infoMeterologica v-bind:llistaCiutats="ciutatsAsia"/>
    <hr>
    <h1 class="continent">America</h1>
    <infoMeterologica v-bind:llistaCiutats="ciutatsAmerica"/>
    <hr>
    <h1 class="continent">Africa</h1>
    <infoMeterologica v-bind:llistaCiutats="ciutatsAfrica"/>
    <hr>
    <h1 class="continent">Oceania</h1>
    <infoMeterologica v-bind:llistaCiutats="ciutatsOceania"/>
    <hr>
  </div>
</template>

<script>

import infoMeterologica from './components/info-meterologica'


export default {
  name: 'app',

  data(){
    return {
      ciutatsEuropa: [
        "Barcelona",
        "Paris",
        "Madrid",
        "Londres",
        "Roma",
        "Berlin",
      ],
      ciutatsAsia:[
        "Tokio",
        "Bangkok",
        "Shanghai",
        "Bombay",
        "Jerusalen",
        "Bagdad"
      ],
      ciutatsAmerica:[
        "Bogota",
        "Chicago",
        "New York",
        "Toronto",
        "Vancouver",
        "Buenos Aires"

      ],
      ciutatsAfrica:[
        "Nairobi",
        "Casablanca",
        "Dakar",
        "Nouakchott",
        "El Cairo",
        "Freetown"

      ],
      ciutatsOceania: [
        "Sydney",
        "Melbourne",
        "Apia",
        "Hobart",
        "Adelaida",
        "Wellington"

      ]
    }
  },

  components: {
    infoMeterologica
  }
}
</script>

<style>
  /*Importar Bulma*/
  @import url("https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.css");


  @import url('https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei');

#app {

  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

  .continent {
    font-size: 30px;
    margin-left: 30px;
    text-align: left;
    font-family: 'ZCOOL XiaoWei', serif;
    font-weight: bold;
  }
</style>
